* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
  color: #333;
  transition: 0.3s;
}

/* Dark Mode */
body.dark {
  background: #111;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #222;
  color: white;
}

.logo {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10%;
  min-height: 90vh;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text span {
  color: #6c63ff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #6c63ff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #574fd6;
}

.social {
  margin-top: 20px;
}

.social a {
  font-size: 22px;
  margin-right: 15px;
  color: inherit;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
}

/* Sections */
section {
  padding: 60px 10%;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
  }

  nav ul.show {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img img {
    margin-top: 20px;
  }
}
/* Typing */
#typing {
  color: #6c63ff;
  font-weight: bold;
}

/* Projects Section */
.projects {
  background: #f9f9f9;
}

body.dark .projects {
  background: #1a1a1a;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: 0.4s;
}

body.dark .project-card {
  background: #222;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  margin-bottom: 15px;
}

.project-card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.project-btn {
  text-decoration: none;
  background: #6c63ff;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.project-btn:hover {
  background: #574fd6;
}

/* Responsive */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
}
